* {
  margin: 0;
  border: border-box;
  font-family: arial;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-logo {
  width: 114px;
  height: 50px;
}
.logo {
  background-image: url(Copy\ of\ amazon_logo.png);
  background-size: cover;
  width: 114px;
  height: 50px;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}

/**box2 style*/

.address-1st {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 30px;
}
.address-2nd {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 2px;
}
.add-icon {
  display: flex;
  align-items: center;
}
/**box3  */

.nav-search {
  display: flex;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 4px;
  justify-content: space-evenly;
}
.search-select {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border: none;
}
.search-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding-left: 10px;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0f1111;
}

.nav-search:hover {
  border: 2px solid #f08804;
}

/******box-4******/

span {
  font-size: 0.7rem;
}
.nav-2nd {
  font-size: 0.85rem;
  font-weight: 700;
}

/***BOX-6***/

.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/**********************PAnel******************/

.panel {
  background-color: #232f3e;
  color: #ffffff;
  height: 39px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.panel-options a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.85rem;
  margin-left: 15px;
}
.panel-options {
  width: 75%;
}

.panel-deals {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 700;
}

/**************hero-Section***********/

.hero-section {
  background-image: url(amazon-hero-img.jpg);
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.hero-msg {
  background-color: #ffffff;
  color: #0f1111;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 0.85rem;
  margin-bottom: 25px;
}
.hero-msg a {
  color: #007185;
  text-decoration: none;
}

/*********shop-section*****/

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  /*border: 2px solid black;*/
  height: 390px;
  width: 23%;
  background-color: #ffffff;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.bac-img1 {
  background-image: url(get\ your\ game.jpg);
  background-size: cover;
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content h2 {
  color: #0f1111;
  font-size: 1.4rem;
}

.box-content a {
  text-decoration: none;
  color: #2162a1;
  font-size: 0.8rem;
}
/**************box2 bac-img**********/

.align-heading {
  padding-left: 15px;
  color: #0f1111;
  font-size: 1.4rem;
  position: relative;
  bottom: 0%;
}
.footer-link a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #2162a1;
  height: 20px;
}
.footer-link {
  text-align: end;
}
.item-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.85rem;
  padding-left: 0.99rem;
  padding-right: 0.99rem;
  margin-top: 1rem;
}

.item {
  flex: 1 1 40%; /* two items per row */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

.item img {
  width: 100%;
  height: 115px;
  object-fit: cover;
}
.item p {
  font-size: 0.75rem;
  color: #0f1111;
  margin-bottom: 0.5rem;
}

/***********Footer*********/

footer {
  margin-top: 15px;
}

/***PAnel-1****/

.foot-panel1 {
  width: 100%;
  height: 49px;
  background-color: #37475a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-panel1 a{
    text-decoration: none;
    color: white;
}

/******panel-2***********/

.foot-panel2 {
  background-color: #232f3e;
  height: 400px;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
ul a {
  display: block;
  margin-top: 0.85rem;
  text-decoration: none;
  color: #dddddd;
  font-size: 0.85rem;
}

.foot-panel2 p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}
ul {
  margin-top: 2.5rem;
  display: inline-block;
  position: relative;
}

/******foot-panel-3*****/

.foot-panel3 {
  background-color: #232f3e;
  color: #ffffff;
  height: 90px;
  border-top: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo2 img {
  height: 75px;
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

/*****panel-5*****/

.foot-panel5 {
  background-color: #131a22;
  height: 80px;
  color: #ffffff;
  font-size: 0.75rem;
  text-align: center;
  justify-content: space-evenly;
}
.foot-pages a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 5px;
  padding-left: 5px;
}
.foot-pages {
  padding-top: 25px;
}
.copyright {
  padding-top: 7px;
}
.foot-pages:hover {
  text-decoration: underline white;
}
